@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Teko:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(29, 29, 29);
    font-weight: bold;
}

nav{
    height: 54px;
    width: 100%;
    background-color: #D80032;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list{
    display: flex;
    list-style: none;
}

nav .menu-list li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    transition: background .3s;
    text-transfom: uppercase; /* caixa alta */
}

nav .menu-list li a:hover{
    color: rgba(255, 255, 255, 0.781);
}

.openmenu{
    font-size: 2rem; /* unidade de medida responsiva relacionada ao tamanho da fonte*/
    margin: 20px;
    cursor: pointer;
    display: none;
}

nav .menu-list .closemenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo{
    margin: 6px;
    font-size: 25px;
    display: none;
}

.caveira{
    height: 50px;
    width: 54px;
    background-image: url(../img/logo-3.png);
    background-size: 60px;
}

.menu-list .icons i:hover{
    color: rgba(255, 255, 255, 0.781);
}

.img-home{
    height: 500px;
    width: 100%;
    background-image: url(../img/studio-2.5.jpg);
    background-size: 1600px;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-left: 50px;
    color: #D80032;
}

.img-home p{
    font-family: 'Teko', sans-serif;
}

h2 {
    width: 95%;
    text-align: center;
    font-weight: lighter;
    border-bottom: 1px solid #D80032;
    line-height: 0.1em;
    margin: auto;
    margin-top: 80px;
    color: #D80032;

}

 h2 span {
     background: rgb(29, 29, 29);
     padding:0 10px;
}

@media(max-width: 800px){
    nav .menu-list{
        height: 80vh;
        font-weight: normal;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #D80032;
        flex-direction: column; /* dispõe itens em colunas*/
        align-items: center;
        justify-content: center;
        display: none;
        transition: top ease 0.5s;
    }

    nav .logo{
        display: block;
        font-weight: lighter;
    }

    nav .openmenu{
        display: block;
    }

    nav .menu-list .closemenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .icons i{
        display: inline-block;
        padding: 12px;
    }
}