@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&family=Teko:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px
}

body::-webkit-scrollbar-thumb{
    background-color: black;
}

body::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0);
}

body{
    overflow-x: hidden;
    background-color: rgb(29, 29, 29);
    font-weight: bold;
}

nav{
    height: 7vh;
    width: 100vw;
    background-color: #DD1C1A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li{
    list-style: none;
}

nav .menu-list .icons a{
    color: white;
}

.menu-list{
    display: flex;
    list-style: none;
}

nav .menu-list li a{
    display: inline-block;
    padding: 15px;
    padding-top: 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    transition: background .3s;
}

nav .menu-list li a:hover{
    color: rgba(255, 255, 255, 0.781);
}

.openmenu{
    font-size: 2rem; /* unidade de medida responsiva relacionada ao tamanho da fonte*/
    margin: 20px;
    cursor: pointer;
    display: none;
}

nav .menu-list .closemenu, .icons i{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .logo{
    margin: 5px;
    font-size: 25px;
    display: none;
}

.caveira{
    height: 40px;
    width: 40px;
    background-image: url(../img/logo-3.png);
    background-size: 50px;
}

.menu-list .icons i:hover{
    color: rgba(255, 255, 255, 0.781);
}

.img-home{
    height: 500px;
    width: 100%;
    background-image: url(../img/studio-2.5.jpg);
    background-size: 1600px;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-left: 50px;
    color: #DD1C1A;
}

.img-home p{
    font-family: 'Teko', sans-serif;
}

.linha{
    width: 96%;
    text-align: left;
    font-weight: lighter;
    border-bottom: 1px solid #DD1C1A;
    line-height: 0.1em;
    margin-top: 80px;
    margin-left: 25px;
    color: #DD1C1A;
}

.linha span{
     background: rgb(29, 29, 29);
     padding:0 10px;
}

.lanc{
    height: auto;
    width: 95%;
    padding-left: 20px;
    padding-top: 50px;
    color: white;
}

.msc{
    height: 80px;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 2px 23px rgb(19, 19, 19);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;
    margin: 10px;
}

.icon-tit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 13px;
}

.lanc ul li .msc .icon-tit .title-msc{
    padding-left: 25px;
}

.caveira-msc{
    height: 50px;
    width: 50px;
    background-image: url(../img/Logo.jpeg);
    background-size: 55px;
    border-radius: 5px;
    display: flex;
}

.content{
    height: 350px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-weight: lighter;
}

.card{
    height: 300px;
    width: 70%;
    background-color: rgb(29, 29, 29);
    box-shadow: 0px 2px 23px rgb(19, 19, 19);
    border-radius: 20px;
}

.topCard{
    padding-top: 10px;
    padding-left: 20px;
}

.mediaCard{
    background: url(../img/logo-3.png) center/cover;
    background-size: 235px;
    height: 150px;
    width: 100%;
}

.bottomCard{
    padding-bottom: 10px;
    padding-left: 20px;
}

.actions{
    background: none;
    border: none;
    color: #DD1C1A;
}

@media(max-width: 800px){

    nav{
        height: 10vh;
        width: 100vw;
    }

    nav .menu-list{
        height: 80vh;
        font-weight: normal;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #DD1C1A;
        flex-direction: column; /* dispõe itens em colunas*/
        align-items: center;
        justify-content: center;
        display: none;
        transition: top ease 0.5s;
    }

    nav .logo{
        display: block;
    }

    nav .openmenu{
        display: block;
    }

    nav .menu-list .closemenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .icons i{
        display: inline-block;
        padding: 12px;
    }

    .img-home{
        align-items: center;
        justify-content: center;
        padding-left: 5px;
    }

    .linha{
        width: 88%;
    }

    .card{
        width: 60%;
    }
}